numpy
scipy  # for numerical integration in linear multistep sampler
matplotlib  # for plotting and colors

lightning
tensordict
torchsde  # for BrownianTreeNoiseSampler in stochastic DPM-Solver++

open3d  # for point cloud visualization
gymnasium  # for gym environments
pygame  # for rendering a stream of images
einops
frozendict  # for immutable dictionaries in DataSpecs obs and goal properties
hydra-core==1.3.2
hydra_colorlog
wandb
rootutils  # enables importing locals modules regardless of where the script is run
rich  # for Lightning rich model summary
h5py  # for loading hdf5 files
ftfy
bitsandbytes  # for 8-bit optimizers
timm  # for vision transformers
regex  # for CLIP tokenizer
