numpy
scipy  # for numerical integration in linear multistep sampler

--find-links https://download.pytorch.org/whl/cu124
# torch geometric doesn't support torch 2.6.* yet
torch==2.5.1  # --index-url https://download.pytorch.org/whl/cu124
torchvision==0.20.1  # --index-url https://download.pytorch.org/whl/cu124
torch_geometric
lightning
tensordict
torchsde  # for BrownianTreeNoiseSampler in stochastic DPM-Solver++

--find-links https://data.pyg.org/whl/torch-2.5.0+cu124.html
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

open3d  # for point cloud visualization
gymnasium  # for gym environments
einops
frozendict  # for immutable dictionaries in DataSpecs obs and goal properties
hydra-core==1.3.2
hydra_colorlog
wandb
rootutils  # enables importing locals modules regardless of where the script is run
rich  # for Lightning rich model summary
h5py  # for loading hdf5 files
ftfy
